@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    */
    scroll-behavior: smooth; 
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* Commented the previous styling for the whole header */
/* header{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
} */

/* main{
    width:95%;
    height: 100px;
    background-color: red;
} */

/* Header section and nav */

/*
header{
    height:100px;
}

 .header_nav{
    width: 100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main_logo{
    width:200px;
    height:50px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size:1.2rem;  
    font-weight:bold;   
}

.nav_action_box{
    width:300px;
    height:50px;
    display:flex;
    justify-content: end;
    align-items: center;
    gap:10px;
}

.nav_action_box input{
    height:100%;
    border:1px solid black;
    border-radius:10px;
    padding-left: 10px;
}

.nav_btn{
    width:80px;
    height:40px;
    border-radius:5px;
    border:none;
    color:#fff;
    background-color: #2382ee;
    cursor: pointer;
}  */

/* Added new header styling */
.header {
    background: #fff;
    margin-bottom: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom-right-radius: 5px;
    z-index: 1;
  }
  .main-logo{
    font-size: 1rem;
    font-weight: bold;
    color: #000;
     /* opacity: 0;
    transform: translateY(30px);
    animation: zoom-in-2s 1s ease forwards;
    animation-delay: 0.5s; */
  } 
  .nav-container {
    width: 70%;
    height: 100vh;
    max-width: 100%;
    background: #fff;
    border-top-right-radius: 5px;
    position: absolute;
    top: 45px;
    left: -100%;
    transition: 0.3s ease;
    z-index: 99;
  }
  .login-register-wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
  }
  .login-btn,
  .register-btn,
  .feedback-btn {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* ul li a {
    text-decoration: none;
    color: #ffffff85;
    line-height: 2.6rem;
    font-weight: 500;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    animation: zoom-in-2s 1s ease forwards;
    animation-delay: 0.5s;
  } */
  /*  */
  .hamburger span {
    width: 20px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    transition: 0.1s ease;
  }
  .hamburger span:nth-child(1) {
    top: 23px;
    width: 30px;
  }
  .hamburger span:nth-child(3) {
    top: 29px;
    width: 25px;
  }
  /* Toggled */
  .nav-container.active {
    left: 0;
  } 
  .hamburger.active span:nth-child(1) {
    top: 17px;
    transform: translate(-50%, -50%) rotate(45deg);
    margin-top: 5px;
    margin-right: -10px;
    width: 20px;
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    top: 17px;
    transform: translate(-50%, -50%) rotate(-45deg);
    margin-top: 5px;
    margin-right: -10px;
    width: 20px;
  } 
  .backdrop.active {
    position: fixed;
    background-color: rgba(22, 19, 19, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }


/* ... MAIN ... */
main {
    background: rgb(211, 205, 205);
    height: max-content;
    padding-top: 3rem;
}
/* Hero */
/* .blood-type-wrapper {
    display: flex;
    flex-direction: column;
} */
 .hero-section {
    padding-bottom: 50px;
 }
.blood-type-header {
    font-weight: bold;
}
.med-center-wrapper {
  width: 80%;
  height: max-content;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
  border-radius: 5px;
}
.center-wrapper {
  width: 85%;
  height: 50dvh;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-top: 5px;
  position: relative;
}
.center-name {
    font-weight: bold;
    padding-bottom: 10px;
}
.available-btypes {
    padding-bottom: 10px;
}
.date-time-update {
    position: absolute;
    bottom: 0;
}

/* About us */
.about-section {
  padding-bottom: 50px;
}
.about-section h2,
.about-section-content {
    text-align: center;
}

/* Footer */
footer {
  background: rgb(211, 205, 205);
  position: relative;
}
.footer-section h2,
.footer-contact-detail,
.footer-mail-wrapper,
.footer-social-wrapper {
  text-align: center;
}
.footer-social-wrapper a,
.back-to-top {
    display: inline-flex;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #fff;
    background-color: #fff;
    color: rebeccapurple;
    border-radius: 50%;
    text-decoration: none;
    margin: 10px 5px;
    transition: .5s;
    box-shadow: 0 0 10px #fff;
}
.back-to-top {
    position:  absolute;
    bottom: 0;
    right: 10px;
  }
  /* .icon {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
  } */

  /* ...MEDIA QUERY...*/

  /* 768px */
  @media (min-width: 48rem) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
       }
      .nav-container {
        display: contents;
      }
      .main-logo {
        font-size: 1.3rem;
      }
      .hamburger span {
        display: none;
      }
      .login-register-wrapper {
        display: flex;
        /* flex-direction: column; */
      }
      .login-btn,
      .register-btn {
        padding: 5px 20px;
        font-size: 15px;
      }

      /* Hero */
      main {
        padding-top: 4rem;
      }
    .hero-section {
        display: flex;
    }
    .hero-section h2 {
        padding-top: 2rem;
    }
    .filter-btype-wrapper {
      padding-left: 5px;
    }
    .blood-type-wrapper {
        display: flex;
        flex-direction: column;
    }
    .blood-type-wrapper span {
        font-size: 20px;
    }
    .center-wrapper {
      padding-left: 20px;
      margin-top: 20px;
    }
    .center-name {
      font-size: 20px;
    }
    .available-btypes {
      font-size: 18px;
    }
    .center-contact {
      font-size: 18px;
    }
}

/* 1300px */
@media (min-width: 81.25rem) {
    /* About */
    .about-section h2 {
        font-size: 3rem;
    }
    .about-section-content {
      font-size: 1.4rem;
    }
    /* Footer */
    .footer-section h2 {
        font-size: 3rem;
    }
}