body{
    background-color: var(--ash-gray-purple);
    background-color: #f8f5ff;
    background-color: #ede8f5;
    background-color: #f0ebff;
}
/* --primary-color: #5b21b6;
--lighter-purple: #7c3aed;  
--another-purple: #4a0f9e; */

#click-profile{
  position: absolute;
  top: 24%;
  right: 0%;
  padding: 0 16px;
  z-index: 1;
  box-shadow: 0 2px 12px rgba(63, 24, 124, 0.3);
  background-color: #ede8f5;
  transition: ease-in-out;
}
/* -----------------header--------------------- */
.dashboard-header{
    display: flex;
    gap: 12px;
    margin: 1.3rem;
    color: var(--secondary-accent);  
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  background-color: var(--gold-pop-color);
  border: 3px solid black;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;
    width: 98%;
    margin: 16px auto;
}

.personal-details, .medical-notes, .saved-hospitals{
      flex: 1;
      flex-basis: 30%;
      padding: 0 16px;      
      background-color: #f8f8ff;
      /* box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 12px rgba(63, 24, 124, 0.08); */
      box-shadow: 0 4px 20px rgba(109, 35, 231, 0.15);
      border-radius: 4px;
}

.p{
    text-transform: uppercase;
    background-color: #ede8f5;
    padding: 8px;
    /* color: var(--white-shade) */
}

table{
    width: 64%;
}

td{
    padding: 4px 0;
}