*{  
    margin: 0;
    padding:0;
    box-sizing: border-box
}
body{
    background: #ffffff; 
    font-family:'Times New Roman', Times, serif;
}

.navbar{
    background-color: var(--white-bg-shade);
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: var(--secondary-accent);
}
 .signup{
    display: flex;
    justify-content: center;
    width: 84%;
    margin: 0 auto;
 }
 sub{
    color: var(--ash-gray-purple);
 }
 .title-h1{
    color: var(--primary-color);
    color: var(--lighter-purple);
   font-style: italic;
}
 .form-container{
    flex-basis: 48%;
    padding: 28px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
 }
 #form{
    margin-top: 24px;  
 }
 #form input{
     border: 1.5px solid #000;
     padding: 3px;
 }
 .names{
   margin: 24px 4px;
   display: flex;
   gap: 8px;
   align-items: center;
 }
 #form label{
    font-weight: 600;
    text-transform: uppercase;
 }
 .submit-btn{
   width: 100%;
   padding: 12px 0;
   margin: 16px 0px;
   background-color: var(--another-purple);
   color: var(--white-shade);
   border-radius: 4px;
   font-size: 16px;
 }

/* -----For the login design that needs to be different -----*/
.passwordlogin, #userData{
   width: 100%;
}

.login-sidebar{
   margin: 2.6rem 0;
}

/* Sign up page design continues */
 #errorMsg{
   color: red;
 }

 .signup-sidebar{
    flex-basis: 48%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--another-purple);
    color: var(--white-shade);
    padding: 16px;
    margin: 0;
 }

 .card{
    background-color: var(--another-darker-purple);
    margin: 12px 0;
    padding: 4px 8px;
 }