:root {
  --primary-color: #51219e;
  --lighter-purple: #6d23e7;
  --another-purple:  #3f187c;;
  --secondary-accent: #141116;
  --gold-pop-color: #eaaa4f;
  --font-family: "Sora", sans-serif;
  --white-shade: #f0ecee;  
  --ash-gray-purple: #b09ec4;
  --another-darker-purple: #684e8f;
  --white-bg-shade: #ffffff;
}